.jumbotron {
    text-align: center;
    margin-top: 100px;
    background-color: transparent;
    color: rgba(255, 255, 255, .7);
     
}

#questionImage {
    width: 60%;
    height: 100%;
}

.questionText {
    font-size: 20px;
    color: white;
}


.gameScreen {
    text-align: center;
    margin-top: 50px;
    background-color: transparent;
    color: rgba(255, 255, 255, .7);
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url("https://wallpaperplay.com/walls/full/c/a/8/396500.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    
    
    
}

.hidden {
    display: none;
}

#start {
    margin-top: 25px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 28px;
    border: 0;
    


    

}

#answers {
    margin-left: -5%;
}

#endModal p {
    text-align: center;
}

#timer {
    font-size: 96px;
    text-align: left;
   
    
}

.lead {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    
}


@font-face {
    font-family: 'waltograph_uibold';
    src: url('waltographui-webfont.woff2') format('woff2'),
         url('waltographui-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.startHeader {
    font-family: 'waltograph_uibold';
}

p {
    font-size: 24px;
}

li {
    margin: 0;
}
    
.btn-primary {
    width: 60%;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 150px;

}

ul {
    list-style: none;
    
}

#question {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
}

#rightOrWrong {
    text-align: center;
}

#modal {
    margin-top: 300px;
}



@media screen and (max-width: 991px) {
    #answers {
        margin-right: 26%;

    }

    .btn-primary {
        width: 75%;
        height: 50px;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 18px;
        margin-left: 150px;
    
    }

    #timer {
        text-align: center;
    }

}


@media screen and (max-width: 768px) { 

    .btn-primary {
        width: 75%;
        height: 50px;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 18px;
     
    
    }

   
    #answers {
        width: 80%;
        margin-left: -14%;

    }
}

@media screen and (max-width: 420px) {
    #answers {
        width: 100%;
        margin-left: -33%;

    }

    .startHeader {
        font-size: 24px;
    }

    #question {
        font-size: 18px;
    }

    #timer {
        font-size: 48px;
    }

    .answerButton {
        height: 60px;
    }

    #rightOrWrong {
        text-align: center;
    }

}



