.jumbotron {
    text-align: center;
    margin-top: 100px;
    
    
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url("https://i.pinimg.com/originals/c1/2d/3c/c12d3c62e2922ddcd33affdc372d8ec1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}


#start {
    margin-top: 25px;
    

}

.lead {
    margin: 20px;
    font-size: 24px;
    
}


@font-face {
    font-family: 'waltograph_uibold';
    src: url('waltographui-webfont.woff2') format('woff2'),
         url('waltographui-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.startHeader {
    font-family: 'waltograph_uibold';
}

p {
    font-size: 18px;
}